<div class="col-md-6 col-md-offset-3">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <mat-icon>lock</mat-icon>
          Login
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" value="" [(ngModel)]="model.username" #username="ngModel" required>
          </mat-form-field>
          <div *ngIf="f.submitted && !username.valid" class="help-block">User Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" value="" [(ngModel)]="model.password" #password="ngModel" required>
          </mat-form-field>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="loading">Login</button>
        <button [routerLink]="['/register']" mat-button color="primary">Register</button>
        <mat-spinner *ngIf="loading"></mat-spinner>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
